<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='aemfd.all'}" data-sly-unwrap />
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='common.core'}" data-sly-unwrap />

<sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" data-sly-unwrap />

<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap />

